<html>
  <head>
    <title>Report Card Demo</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style> 
	<script src="/js/jquery.js"></script> 		
	<script src="/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="index.html">RDF Report Card</a>
        </div>
      </div>
    </div>
    
	<%= yield %>    
  </body>
</html>  